---
import BaseApp from "@layout/App.astro"
import StatusBar from "@components/Terminal/StatusBar.svelte"

const { filename, mode } = Astro.props
---

<BaseApp>
	<div
		id="terminal"
		class="mockup-window font-maplemono bg-base-200/50 lg:bg-linear-to-br from-base-300/80 to-primary/5 bg-clip-padding backdrop-filter backdrop-blur backdrop-saturate-100 backdrop-contrast-100 overflow-auto rounded-none list lg:rounded-md lg:border lg:border-base-content/50 mx-20 my-10">
		<slot />

		<StatusBar
			filename={filename}
			mode={mode}
			client:load>
			<slot
				name="fileicon"
				slot="fileicon"
			/>
		</StatusBar>
	</div>
</BaseApp>
