@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--color-base-content);
	}
	100% {
		border-color: transparent;
	}
}
