---
import ORVApp from "📱/layouts/App.astro"

import SEO from "📱/components/SEO/SEO.astro"
---

<ORVApp>
	<SEO
		title="Stream Error: The stream couldn't be found!"
		slot="seo"
	/>

	<!-- # Placeholder for now -->
	<div class="mt-10 p-10">
		<h2 class="text-6xl text-center">&lt;404 SCENARIO&gt;</h2>
		<div class="text-2xl flex flex-col mt-10">
			<span class="my-3">CATEGORY: ???</span>
			<span class="my-3">DIFFICULTY: ???</span>
			<span class="my-3">CLEAR CONDITION: <a href="/">Go Back.</a></span>
			<span class="my-3">TIME LIMIT: -</span>
			<span class="my-3">REWARD: -</span>
			<span class="my-3">PENALTY FOR FAILURE: -</span>
		</div>
	</div>
</ORVApp>
