---
import ORVApp from "📱/layouts/App.astro"
import SEO from "📱/components/SEO/SEO.astro"
---

<ORVApp>
  <SEO slot="seo" />

  <section class="p-2">
    <h1></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima ex
      aspernatur placeat, suscipit mollitia labore magnam veritatis repellendus
      odit eveniet officiis quam earum ullam quisquam molestiae quidem libero
      autem a omnis cupiditate voluptatem pariatur alias accusantium quis.
      Perferendis laudantium neque possimus consequuntur maiores aspernatur at
      fuga sed recusandae sapiente, laborum rem eum deserunt? Repudiandae, eum,
      id necessitatibus cum exercitationem, reprehenderit voluptatum in nostrum
      iure autem dicta vitae qui sint vel. Animi numquam similique omnis aut, a
      odio voluptatem sint temporibus, perspiciatis, officia quae corporis.
      Ipsum accusantium, sed odit delectus modi omnis dignissimos dolores labore
      dolore facilis? Aut voluptates reprehenderit nihil.
    </p>
  </section>
</ORVApp>
